@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #00b889;
  --primary-light: #b2fe63;
  --primary-dark: #00796e;
  --background-primary: #0a0a0b;
  --background-light: #121213;
  --background-gradient: linear-gradient(
    180deg,
    hsla(165, 100%, 0%, 1) 0%,
    hsla(175, 100%, 24%, 1) 100%
  );
  --text-primary: #ffff;
  --text-secondary: #96969f;
}

.background-gradient {
  background: linear-gradient(
    135deg,
    hsla(165, 100%, 36%, 1) 0%,
    hsla(175, 100%, 24%, 1) 100%
  );
  transition: all 10s;
}

.background-gradient:hover {
  background: linear-gradient(
    135deg,
    hsla(165, 100%, 36%, 1) 0%,
    hsla(175, 100%, 24%, 1) 50%
  );
  transition: all 10s;
}

.background-gradient-glass {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  /* background: linear-gradient(
    135deg,
    hsla(165, 100%, 36%, 1) 0%,
    hsla(175, 100%, 24%, 1) 100%
  ); */
  /* background-image: url("/assets/comarca-duende-pablo.png");
  background-size: cover; */
  z-index: 0;
}

.comunidad-gradient {
  background-image: linear-gradient(
    0deg,
    #00796e 0%,
    #00b889ba 16%,
    #00000000 55%
  );
}

.form-gradient {
  background-image: linear-gradient(0deg, #00796e 0%, #000000ff 100%);
}

.sponsor-image {
  position: absolute;
  top: 0px;
  left: 0;
  padding: 0 20px;
}

.background-blur::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--primary-light);
  filter: blur(120px);
  top: 0;
  right: 0;
  z-index: -999;
  overflow: hidden;
}

.background-blur::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--primary-light);
  filter: blur(120px);
  top: 1000px;
  left: 0;
  z-index: -999;
}

.sponsor-aorus::before {
  content: 'Aorus';
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
  color: #ffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background: var(--background-gradient);
  border-radius: 12px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
