@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #00b889;
  --primary-light: #b2fe63;
  --primary-dark: #00796e;
  --background-primary: #0a0a0b;
  --background-light: #121213;
  --background-gradient: linear-gradient(
    180deg,
    hsla(165, 100%, 0%, 1) 0%,
    hsla(175, 100%, 24%, 1) 100%
  );
  --text-primary: #ffff;
  --text-secondary: #96969f;
}

.background-gradient {
  background: linear-gradient(
    135deg,
    hsla(165, 100%, 36%, 1) 0%,
    hsla(175, 100%, 24%, 1) 100%
  );
}

.background-gradient:hover {
  background: linear-gradient(
    135deg,
    hsla(165, 100%, 36%, 1) 0%,
    hsla(175, 100%, 24%, 1) 50%
  );
}

.background-gradient-glass {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  /* background: linear-gradient(
    135deg,
    hsla(165, 100%, 36%, 1) 0%,
    hsla(175, 100%, 24%, 1) 100%
  ); */
  /* background-image: url("/assets/comarca-duende-pablo.png");
  background-size: cover; */
  z-index: 0;
}

.comunidad-gradient {
  background-image: linear-gradient(
    0deg,
    #00796e 0%,
    #00b889ba 16%,
    #00000000 55%
  );
}

.form-gradient {
  background-image: linear-gradient(0deg, #00796e 0%, #000000ff 100%);
}

.sponsor-image {
  position: absolute;
  top: 0px;
  left: 0;
  padding: 0 20px;
}

.sponsor-aorus::before {
  content: 'Aorus';
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
  color: #ffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background: var(--background-gradient);
  border-radius: 12px;
}

.carousel-image-animation {
  transition: scale 0.5s;
}

.carousel-image-animation:hover {
  scale: 1.1;
}

.comunidad-card-animation {
  transition: scale 0.3s;
}

.comunidad-card-animation:hover {
  scale: 0.95;
}

.sponsors-image-animation {
  transition: scale 0.5s;
}

.sponsors-image-animation:hover {
  scale: 1.1;
}

.background-blur::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--primary-light);
  filter: blur(60px);
  bottom: 920px;
  left: 0;
  z-index: -999;
}

.background-blur::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--primary-light);
  filter: blur(60px);
  bottom: 460px;
  right: 0;
  z-index: -999;
}

.background-blur-2::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--primary-light);
  filter: blur(60px);
  bottom: 1380px;
  right: 0;
  z-index: -999;
}

.background-blur-2::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--primary-light);
  filter: blur(60px);
  bottom: 1850px;
  left: 0;
  z-index: -999;
}

.background-blur-3::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--primary-light);
  filter: blur(60px);
  bottom: 2310px;
  right: 0;
  z-index: -999;
}

.background-blur-3::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--primary-light);
  filter: blur(60px);
  bottom: 2770px;
  left: 0;
  z-index: -999;
}

.background-blur-4::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--primary-light);
  filter: blur(60px);
  bottom: 3230px;
  right: 0;
  z-index: -999;
}

.background-blur-4::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--primary-light);
  filter: blur(60px);
  bottom: 3690px;
  left: 0;
  z-index: -999;
}

@media screen and (min-width: 640px) {
  .background-blur::before {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 500px;
  }

  .background-blur::after {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 1000px;
  }

  .background-blur-2::before {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 1500px;
  }

  .background-blur-2::after {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 2000px;
  }

  .background-blur-3::before {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 2500px;
  }

  .background-blur-3::after {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 3000px;
  }

  .background-blur-4::before {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 3500px;
  }

  .background-blur-4::after {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 4000px;
  }
}

@media screen and (min-width: 768px) {
  .background-blur::before {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 560px;
  }

  .background-blur::after {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 1120px;
  }

  .background-blur-2::before {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 1680px;
  }

  .background-blur-2::after {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 2250px;
  }

  .background-blur-3::before {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 2800px;
  }

  .background-blur-3::after {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 3360px;
  }

  .background-blur-4::before {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 3920px;
  }

  .background-blur-4::after {
    width: 80px;
    height: 80px;
    filter: blur(90px);
    bottom: 4480px;
  }
}

@media screen and (min-width: 1024px) {
  .background-blur::before {
    width: 100px;
    height: 100px;
    filter: blur(120px);
    bottom: 550px;
  }

  .background-blur::after {
    width: 100px;
    height: 100px;
    filter: blur(120px);
    bottom: 1100px;
  }

  .background-blur-2::before {
    width: 100px;
    height: 100px;
    filter: blur(120px);
    bottom: 1650px;
  }

  .background-blur-2::after {
    width: 100px;
    height: 100px;
    filter: blur(120px);
    bottom: 2200px;
  }

  .background-blur-3::before {
    width: 100px;
    height: 100px;
    filter: blur(120px);
    bottom: 2750px;
  }

  .background-blur-3::after {
    width: 100px;
    height: 100px;
    filter: blur(120px);
    bottom: 3300px;
  }

  .background-blur-4::before {
    width: 100px;
    height: 100px;
    filter: blur(120px);
    bottom: 3850px;
  }

  .background-blur-4::after {
    width: 100px;
    height: 100px;
    filter: blur(120px);
    bottom: 4400px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
